<!DOCTYPE html>
<html>
<head>
  <title>Results Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <h1 style="text-align: center;">Form submitted sucessfully!!!</h1>
  <a href="/"><p style="text-align: center;">Click here to go to form again</p></a>

</body>
</html>
